{% extends 'base.html.twig' %}

{% block body %}


<div class="jumbotron">
  <h1 class="display-4">Page not found !</h1>
  <hr>
  <p class="lead">The requested page couldn't be located. Checkout for any URL mispelling or return to the</p>
    <a class="btn btn-primary" href="{{ path('flight_index') }}">Homepage</a>
</div>

{% endblock %}