{% extends 'base.html.twig' %}

{% block title %}New Flight{% endblock %}

{% block body %}

    <div class="container bg-info text-white vh-100">
            <h1 class="text-center">Créer un nouveau vol</h1>
        <div class="row justify-content-center ">
            <div class="col-8 justify-content-center mt-5">
                {{ include('flight/_form.html.twig') }}
                {# /*<div class="mt-3"><a href="{{ path('flight_index') }}" class="btn btn-success">Retour à la liste</a>*/ #}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
